// Colors
$white: #fff;
$black: #000;

$body-min-width: 320px;

// Typography
$font-family-base: '', sans-serif;
$font-size-base: 15px;
$line-height-base: 1.5;

// Media breakpoints
$lg-max-width: 1199.98px;
$md-max-width: 991.98px;
$sm-max-width: 767.98px;
$xs-max-width: 575.98px;
$max-height: 675px;
