// Colors
$white: #fff;
$black: #000;
$light-gray: #f8fafb;
$gray: #f0f0f6;
$dark-gray: #8697a8;
$darken-gray: #44566c;

$lighten-blue: #3fa0ff;
$light-blue: #0081ff;
$blue: #0045ff;

$red: #ff4444;
$yellow: #ffbb55;
$green: #99bb33;

$body-min-width: 320px;

// Typography
$font-family-base: 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
$font-size-base: 15px;
$line-height-base: 1.5;

// Media breakpoints
$lg-max-width: 1199.98px;
$md-max-width: 991.98px;
$sm-max-width: 767.98px;
$xs-max-width: 575.98px;
$max-height: 675px;
